@import url("//hello.myfonts.net/count/2e980e");

a{
  cursor: pointer;
}

#header-image{
  width:100%;
}

#nav {
  margin-top: 20px;
  margin-bottom: 20px;
  position:relative;
}



#nav .image-box{
  height:90px;
}

#nav .col-xs-4 {
  text-align: center;
}

#login-div{
  padding-right:10px;
}

#tabs{
  background-color: #77a5c3;
  height: 75px;
  padding-top: 30px;
  color: white;
  margin-bottom: 20px;
}

#tabs .col-xs-4{
  text-align: center
}

#search {
  height: 60px;
  margin-bottom: 20px;
  background-color: #00b0b2;
  padding-top: 4px;
}

#search select {
  font-size: 20px;
}

#search input {
   font-size: 20px;
   border: 0;
}

#search .col-xs-10, #search .col-xs-2{
   padding-top: 10px;
}

#search .form-group{
  margin-bottom: -3px;
}

#search .col-xs-2{
  height:55px;
  right:0;
}

#search .input-group-addon img {
  height:20px;
}

#search .input-group-addon {
  background-color: #00b0b2;
  border: 0;
}

.close{
  display:block;
  width:20px;
  height:20px;
  opacity:1;
  background-color:white;
}

#nav .input-group-addon {
   border: 0;
   background-color: #00b0b2;
}

#main_loading {
  height: 200px;
  margin-top: 100px;
  text-align: center;
}

#heading .col-xs-4, #heading .col-md-4 {
  padding-left: 0px;
}

#heading .col-xs-8, #heading .col-md-8 {
  margin-top: 40px;
}

#main .col-xs-4, #main .col-md-4 {
  padding-left: 0px;
  overflow-y:auto;
  overflow-x:hidden;
  height:600px;
}

#main .panel-container.ng-hide-add.ng-hide-add-active,
#main .panel-container.ng-hide-remove.ng-hide-remove-active{
  /* the transition is defined in the active class */
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

#main .panel-container.ng-hide{
  opacity: 0;
}



#main .panel-body {
  background-color: #77a5c3;
}

#main .panel {
  border: 0;
  box-shadow: none;
}

#main .panel-body a {
  color: #fff;
}

#main .panel-footer {
   background-color: #fff;
   background-image: url("/static/Pointer.png");
   background-repeat: no-repeat;
   background-position: right;
   height: 30px;
   border-top: 0px;
}



#main .thumbnail {
  background-color: #77a5c3;
  border: 0px;
  color: #fff;
  margin-bottom: 0px;
  box-shadow: none;
}

#main .panel:first-child .panel-body, #main .panel:first-child .thumbnail{
  background-color: #00527b;
}


#main .panel:first-child:after{
  content: url("/static/Pointer.png");
  text-align: right;
  display:block;
  margin-right:20px;
}


#main .thumbnail .caption {
  background-color: #00527b;
  border: 0px;
  color: #fff;
  display:none;
}


#main .panel:first-child .thumbnail .caption {
  display:block;
}


#main .panel .thumbnail img {
  display:none;
}
#main .panel:first-child .thumbnail img {
  display:block;
}


.angular-google-map-container {
    width: 100%;
    height: 600px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;
    margin-right:-7.5px;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}

.angular-google-map {
  display: block;
}


/***********************
Typography
***********************/
  
@font-face {
	font-family: 'Code-Pro-Light-LC';
	src: url('/static/webfonts/2E980E_0_0.eot');
	src: url('/static/webfonts/2E980E_0_0.eot?#iefix') format('embedded-opentype'),
	url('/static/webfonts/2E980E_0_0.woff2') format('woff2'),
	url('/static/webfonts/2E980E_0_0.woff') format('woff'),
	url('/static/webfonts/2E980E_0_0.ttf') format('truetype');
}
	 
body,
button,
input,
select,
textarea {
	color: #000000;
	font-family: Code-Pro-Light-LC;
}

.modal-header {
  border-bottom: 0;
}

.footer {
  margin-top: 10px;
  text-align: center;
}
