#search {
  margin-top: 20px;
  margin-bottom: 20px;
}

#search input {
   height: 60px;
   font-size: 20px;
   border: 0;
}

#search .col-md-12 {
   background-color: #00b0b2;
   padding-top: 16px;
}

#search .input-group-addon {
   border: 0;
   background-color: #00b0b2;
}

#main_loading {
  height: 200px;
  margin-top: 100px;
  text-align: center;
}

#heading .col-md-4 {
  padding-left: 0px;
}

#heading .col-md-8 {
  margin-top: 40px;
}

#main .col-md-4 {
  padding-left: 0px;
}

#main .panel-body {
  background-color: #00527b;
}

#main .panel {
  border: 0;
}

#main .panel-body a {
  color: #fff;
}

#main .panel-footer {
   background-color: #fff;
   background-image: url("/static/Pointer.png");
   background-repeat: no-repeat;
   background-position: right;
   height: 30px;
   border-top: 0px;
}

#main .thumbnail {
  background-color: #00527b;
  border: 0px;
  color: #fff;
  margin-bottom: 0px;
}

#main .thumbnail .caption {
  background-color: #00527b;
  border: 0px;
  color: #fff;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}

.angular-google-map {
  display: block;
}
